<body>
    <div id="wrapper">

        <aside id="sidebar-wrapper">
            <div class="sidebar-brand">
                <img id="slideimg" src=<%= !data.avatar?"/default_Img/1.png":`/images/avatars/${data.avatar}` %> class="rounded-circle" width="100" height="100" alt="...">
            </div>
            <ul class="sidebar-nav mt-5">
                <li class="<%= (()=> {if (page === "allarticles") {return "active" }})() %>">
                    <a href="/allarticles/1/2"><i class="fa fa-newspaper-o"></i>All Articles</a>
                </li>
                <li class="<%= (()=> {if (page === "myarticles") {return "active" }})() %>">
                <a href="/myarticles/1/2"><i class="fa fa-book"></i>My Articles</a>
            </li>
                <li class="<%= (()=> {if (page === "profile") {return "active" }})() %>">
                    <a href="/profile"><i class="fa fa-user"></i>Profile</a>
                </li>
                <li class="<%= (()=> {if (page === "createarticle") {return "active" }})() %>">
                    <a href="/createarticle"><i class="fa fa-plus"></i>New Article</a>
                </li>
                <li class="<%= (()=> {if (page === "Edit profile") {return "active" }})() %>">
                    <a href="/profile/edit"><i class="fa fa-pencil-square-o"></i>Edit profile</a>
                </li>
                <% if (data.role==="admin") { %>
                    <li class="<%= (()=> {if (page === "allusers") {return "active" }})() %>">
                        <a href="/allusers/1/2"><i class="fa fa-users"></i>All Users</a>
                    </li>
                <% } %>
                <li class="">
                    <a href="/logout"><i class="fa fa-sign-out"></i>Logout</a>
                </li>
                <hr>
            </ul>
        </aside>